/* ===== Base =======*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== Variables =======*/
:root {
  --primary-color: #34e37e;
  --bg-color: #030f08;
  --badge-bg-color: #111111;
}
/* ===== Settings =======*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Courier, monospace;
}
/* ===== Header Section =======*/
header {
  background-color: var(--bg-color);
  text-align: center;
  line-height: 1;
}
.logo_link {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 20px;
}
.logo {
  max-width: 200px;
}
.title {
  color: var(--primary-color);
  font-size: 50px;
  text-shadow: 0px 0px 8px rgba(52, 227, 126, 1),
    0px 0px 5px rgba(52, 227, 126, 0.4);
  font-weight: 700;
  display: inline-block;
  margin: 0 auto;
  padding: 18px 25px;
  cursor: default;
  border-bottom: solid 2px var(--primary-color);
}
/* ===== Main Section =======*/
main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 35px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("img/bg_wkcesn.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/* ===== Badge =======*/
.badges-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.badge {
  position: relative;
  text-transform: uppercase;
  color: white;
  width: 100px;
  height: 100px;
  margin: 20px 0;
  transition: all 0.3s ease;
}
.badge span {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  border: solid 3px var(--primary-color);
  border-right-width: 2px;
  box-shadow: 0px 0px 5px 0 rgba(52, 227, 126, 0.8),
    0px 0px 5px 0 rgba(52, 227, 126, 0.5);
}
.badge span svg {
  fill: var(--primary-color);
  width: 100%;
  height: 100%;
  padding: 10px;
}
.badge h5 {
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  right: -200%;
  display: flex;
  align-items: center;
  border: solid 3px var(--primary-color);
  border-left-width: 1px;
  text-align: left;
  padding-left: 30px;
  font-size: 1.8rem;
  background-color: var(--badge-bg-color);
  line-height: 1.2;
  letter-spacing: 2px;
  box-shadow: 0px 0px 5px 0 rgba(52, 227, 126, 0.8),
    0px 0px 5px 0 rgba(52, 227, 126, 0.5);
}
.badge:nth-child(4n-2) h5 {
  left: -200%;
  border-left-width: 3px;
  border-right-width: 1px;
}
.badge:nth-child(4n-2) span {
  left: -200%;
  border-left-width: 3px;
  border-right-width: 2px;
}
/* ===== Button =======*/
.button {
  display: block;
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
  background: var(--badge-bg-color);
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 50px;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 0 rgba(52, 227, 126, 0.8),
    0px 0px 5px 0 rgba(52, 227, 126, 0.5);
  transition: all 0.3s ease;
}
.button:hover,
.button:active {
  border: solid 2px var(--primary-color);
  box-shadow: 0px 0px 15px 0 rgba(52, 227, 126, 0.8),
    0px 0px 8px 0 rgba(52, 227, 126, 0.6);
}

/* ===== Arrow Down =======*/
.arrow-down_container {
  margin-top: 110px;
}
.arrow-down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* ===== RESPONSIVE =======*/
@media screen and (max-width: 600px) {
  .badges-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 22px;
  }
  .badge {
    width: 100%;
    display: flex;
  }
  .badge span {
    flex: 1;
  }
  .badge h5 {
    position: static;
    width: 100%;
    flex: 2;
  }
}
@media screen and (max-width: 500px) {
  .header {
    line-height: 1;
  }
  .logo_link {
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .logo {
    max-width: 135px;
  }
  .title {
    font-size: 29px;
  }
  main {
    line-height: 1;
  }
  .badges-container {
    width: 100%;
    margin-top: 15px;
  }
}
